.tableheaderflex{
    display: grid;
    grid-template-columns: repeat(8,minmax(100px,1fr));
    padding:1em 2em;
    margin:0px;
    justify-content: center;
    width:100%;
}
th{
    
    color: white;
   justify-content: center;
   margin:0px;
   
}