.no-data{
    display: flex;
    justify-content: center;
    padding-top: 15rem;
}

.row-features{

    padding: 2em 1.3em;
    border-bottom: 1px solid gray;
}

.row-features:hover{
    background-color:lightgray;
}

td{
    text-align: center;
}


